<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Обновить таблицу</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <header th:insert="~{tmp/header :: header}"></header>
  <meta charset="UTF-8">
  <title>Обновить таблицу</title>
</head>

<body>
<div>
  <h1>Обновить таблицу</h1>

  <form method="POST" th:action="@{/timeTrack/update}" th:object="${timeTrackForm}">
    <input type="hidden" th:value="${timeTrack.id}" name="id">
    <div class="mb-3">
      <label for="peer" class="form-label">Пир</label>
      <input th:value="${timeTrack.peer}" name="peer" type="text" class="form-control" id="peer">
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Дата</label>
      <input th:value="${timeTrack.date}" name="date" type="text" class="form-control" id="date">
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">Время</label>
      <input th:value="${timeTrack.time}" name="time" type="text" class="form-control" id="time">
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">Статус</label>
      <input th:value="${timeTrack.state}" name="state" type="text" class="form-control" id="state">
    </div>


    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editDialog">Обновить</button>
    <div th:insert="~{tmp/editDialog :: editDialog}"></div>
  </form>
</div>

<div th:insert="~{tmp/modalScript :: modalScript}"></div>
</body>
</html>
