<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновить таблицу</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <header th:insert="~{tmp/header :: header}"></header>
    <meta charset="UTF-8">
    <title>Обновить таблицу</title>
</head>

<body>
<div>
    <h1>Обновить таблицу</h1>

    <form method="POST" th:action="@{/experience/update}" th:object="${modelForm}">
        <input required="required" type="hidden" th:value="${experience.id}" name="id">
        <div class="mb-3">
            <label for="checkId" class="form-label">Id проверки</label>
            <select th:value="${experience.checkId}" name="checkId" class="form-select" id="checkId"
                    required="required">
                <option th:each="id : ${checkIds}" th:value="${id}" th:text="${id}"
                        th:selected="${experience.checkId == id}"/>
            </select>
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label">Количество опыта</label>
            <input th:value="${experience.amount}" name="amount" type="number" class="form-control" id="amount"
                   min="0"
                   required="required">
        </div>

        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editDialog">Обновить</button>
        <div th:insert="~{tmp/editDialog :: editDialog}"></div>
    </form>
</div>

<div th:insert="~{tmp/modalScript :: modalScript}"></div>
</body>
</html>
