<div th:fragment="editDialog">

  <div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editDialogLabel">Внести изменения в таблицу</h5>
        </div>
        <div class="modal-body">Изменить таблицу?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Обновить</button>
        </div>
      </div>
    </div>
  </div>

</div>