<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Пир проверки </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <header th:insert="~{tmp/header :: header}"></header>
</head>
<body>
<div>
  <h1>Добавить запись в таблицу Пир проверки</h1>

  <form method="POST" th:action="@{/peerToPeer/add}" th:object="${peerToPeerForm}">

    <div class="mb-3">
      <label for="checkId" class="form-label"> Id проверки </label>
      <input name="checkId" type="text" class="form-control" id="checkId">
    </div>

    <div class="mb-3">
      <label for="checkingPeer" class="form-label"> Имя проверяющего пира </label>
      <input name="checkingPeer" type="text" class="form-control" id="checkingPeer">
    </div>

    <div class="mb-3">
      <label for="status" class="form-label"> Статус проверки </label>
      <input name="status" type="text" class="form-control" id="status">
    </div>

    <div class="mb-3">
      <label for="time" class="form-label"> Время проверки </label>
      <input name="time" type="text" class="form-control" id="time">
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDialog">Добавить</button>
    <div th:insert="~{tmp/addDialog :: addDialog}"></div>
  </form>
</div>

<div th:insert="~{tmp/modalScript :: modalScript}"></div>
</body>
</html>